.content{
	margin: auto;

}
.leftheader{
	width: 100%;
	height: 5%;
	text-align: left;
}
.leftnavbar{
	width: 20%;
	height: 100%;
	float: left;
	background-color: LightGray;
	text-align: center;
}
.calendar{
	width: 79%;
	height: 98%;
	float: right;
	padding-left: 1%;

}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}
.navitem{
	width: 100%;
	background-color: gray;
	margin: 0 0 5px 0;
	height: 7%;
	line-height: 3.33em;
}
.upcoming{
	background-color: gray;
	height: 60%;
}
.navitem:hover{
	background-color: DarkGray;
	font-size: 107%;
}
.nav a{
	color:inherit;
	text-decoration: none;
}
.calendar p{
	width: 98%;
	height: 98%;
	background-color: LightGray;
}
.calendarheader{
	width: 100%;
	height: 2%;
	text-align: center;
}